<%- include('template/cabecera.ejs') %>

    <main>
        <section class="home">
            
            <h1> RefriExpert </h1>
            <p>Frescura y confort, 
            <br>en manos expertas!</p>

            <a href="#contact">contactanos</a>
        </section>

        <section class="advantagesAndBenefits">

            <div class="gridAAB">
                <div class="containerAAB">
                    <h2>Ventajas y Beneficios</h2>
                    <ol>
                        <li>Servicio rápido y eficiente para maximizar el rendimiento de tu aire acondicionado.</li>
                        <li>Diagnósticos precisos realizados por técnicos especializados.</li>
                        <li>Precios competitivos adaptados a tus necesidades.</li>
                        <li>Prolonga la vida útil de tus equipos con mantenimiento profesional.</li>
                        <li>Garantía de satisfacción en cada reparación realizada.</li>
                    </ol>
                </div>

                <div class="AABimage"></div>
            </div>
        </section>

        <section class="about" id="about">
            <div class="gridAbout">
                <div class="aboutImage"></div>
                <div class="aboutContent">
                    <h2>Sobre mi</h2>
                    <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat pariatur labore iusto nam similique laboriosam, voluptas ad quia atque rem nemo quo fuga officia dignissimos itaque neque sunt enim? Nam.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat pariatur labore iusto nam similique laboriosam, voluptas ad quia atque rem nemo quo fuga officia dignissimos itaque neque sunt enim? Nam.</p>
                </div>
            </div>
        </section>

        <section class="services" id="services">

            <h2>Servicios</h2>

            <div class="servicesGrid">
                <a href="/payment">
                    <article>
                        <img loading="lazy" height="200" width="300" src="./images/img4.jpg" alt="aire acondicionado instalado">
                        <h3>Instalacion de aires acondicionados</h3>
                        <p> incluye la evaluación previa del espacio para determinar la ubicación más eficiente del equipo, la correcta fijación de las unidades interiores y exteriores, y la conexión de los sistemas eléctricos y de refrigeración según las normativas. </p>
                    </article>
                </a>
                
                <a href="/payment">
                    <article>
                        <img loading="lazy" height="200" width="300" src="./images/img6.jpg" alt="diagnostico de aire acondicionado">
                        <h3>Diagnostico</h3>
                        <p> Un servicio de diagnóstico de aire acondicionado incluye la inspección detallada del equipo para identificar posibles fallas o problemas en su funcionamiento. Esto abarca la revisión del sistema eléctrico, el circuito de refrigeración, los filtros y las unidades internas y externas.</p>
                    </article>
                </a>

                <a href="/payment">
                    <article>
                        <img loading="lazy" height="200" width="300" src="./images/img7.jpg" alt="reparación de aire acondicionado">
                        <h3>Reparacion</h3>
                        <p> Un servicio de reparación de aire acondicionado incluye la identificación y solución de fallas en el sistema, ya sea en componentes eléctricos, mecánicos o del circuito de refrigeración.</p> <!--Esto abarca la reparación de fugas de gas refrigerante, sustitución de piezas dañadas, limpieza de filtros obstruidos y ajustes necesarios para garantizar un funcionamiento eficiente.-->
                    </article>
                </a>
            </div>

        </section>

        <section class="testimonials" id="testimonials">
            <div class="gridTestimonials">
                <div class="testimonialsImage"></div>
                <div class="testimonialsContent">
                    <div class="testimonialIcon">
                        <svg xmlns="http://www.w3.org/2000/svg" height="50px" viewBox="http://www.w3.org/2000/svg" width="50px" fill="#f3f3f3"><path d="m363-390 117-71 117 71-31-133 104-90-137-11-53-126-53 126-137 11 104 90-31 133ZM80-80v-720q0-33 23.5-56.5T160-880h640q33 0 56.5 23.5T880-800v480q0 33-23.5 56.5T800-240H240L80-80Zm126-240h594v-480H160v525l46-45Zm-46 0v-480 480Z"/></svg>
                    </div>
                    <h2>Testimonio</h2>
                    <p>"No puedo estar más satisfecho con el servicio de instalación de aire acondicionado. Desde el primer contacto, el equipo fue increíblemente profesional y atento a mis necesidades. El proceso de instalación fue rápido y eficiente, y se aseguraron de dejar todo impecable al finalizar. Mi casa ahora está perfectamente climatizada, y la calidad del trabajo realmente supera mis expectativas. ¡100% recomendado!"</p>
                    <div class="testimonialAutor">Andrés Pérez</div>
                    <div class="stars">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="http://www.w3.org/2000/svg" width="24px" fill="#ffbf00"><path d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-350Z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="http://www.w3.org/2000/svg" width="24px" fill="#ffbf00"><path d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-350Z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="http://www.w3.org/2000/svg" width="24px" fill="#ffbf00"><path d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-350Z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="http://www.w3.org/2000/svg" width="24px" fill="#ffbf00"><path d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-350Z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="http://www.w3.org/2000/svg" width="24px" fill="#ffbf00"><path d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-350Z"/></svg>
                    </div>
                </div>
            </div>
        </section>

        <section class="contact" id="contact">

            <h2>Contactanos</h2>

            <div class="gridContact">

                <div class="contactInfo">

                    <div class="direction">
                        <p>Av. Bolívar Norte, esquina con Calle El Sol,</p>
                        <p>Cagua, Estado Aragua, Venezuela.</p>
                    </div>
                    
                    <div class="link"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="http://www.w3.org/2000/svg" width="24px" fill="#002132"><path d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm320-280L160-640v400h640v-400L480-440Zm0-80 320-200H160l320 200ZM160-640v-80 480-400Z"/></svg><strong>Email:</strong> <a href="mailto:contacto@refriexpert.com">contacto@refriexpert.com</a></div>

                    <div class="link"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="http://www.w3.org/2000/svg" width="24px" fill="#002132"><path d="M798-120q-125 0-247-54.5T329-329Q229-429 174.5-551T120-798q0-18 12-30t30-12h162q14 0 25 9.5t13 22.5l26 140q2 16-1 27t-11 19l-97 98q20 37 47.5 71.5T387-386q31 31 65 57.5t72 48.5l94-94q9-9 23.5-13.5T670-390l138 28q14 4 23 14.5t9 23.5v162q0 18-12 30t-30 12ZM241-600l66-66-17-94h-89q5 41 14 81t26 79Zm358 358q39 17 79.5 27t81.5 13v-88l-94-19-67 67ZM241-600Zm358 358Z"/></svg><strong>Teléfono:</strong> <a href="tel:+58 416-555-1234">+58 416-555-1234</a></div>

                    <div class="link"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="http://www.w3.org/2000/svg" width="24px" fill="#002132"><path d="m612-292 56-56-148-148v-184h-80v216l172 172ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-400Zm0 320q133 0 226.5-93.5T800-480q0-133-93.5-226.5T480-800q-133 0-226.5 93.5T160-480q0 133 93.5 226.5T480-160Z"/></svg><strong>Horario:</strong> Lunes - Viernes 8:00 - 19:00</div>
                    

                </div>

                <div class="contactForm">
                    <form id="form" action="/send#contact" method="post">
                        
                        <input class="campo" type="text" id="name" name="name" placeholder="Nombre">
                        
                        <% if (errors) {%>
                            <% errors.forEach(error => { %>
                                <% if (error.path == 'name') { %>
                                    <p style="color: #FE2D48; padding: 0; margin: 0; text-align: center;"><%= error.msg %></p>
                                <% } %>
                            <% }); %>
                        <% } %>
                        <input class="campo" type="email" id="email" name="email" placeholder="Correo">
                        <% if (errors) {%>
                            <% errors.forEach(error => { %>
                                <% if (error.path == 'email') { %>
                                    <p style="color: #FE2D48; padding: 0; margin: 0; text-align: center;"><%= error.msg %></p>
                                <% } %>
                            <% }); %>
                        <% } %>

                        <input class="campo" type="tel" id="phone" name="phone" placeholder="Teléfono">
                        <% if (errors) {%>
                            <% errors.forEach(error => { %>
                                <% if (error.path == 'phone') { %>
                                    <p style="color: #FE2D48; padding: 0; margin: 0; text-align: center;"><%= error.msg %></p>
                                <% } %>
                            <% }); %>
                        <% } %>

                        <textarea class="campo" name="message" id="message" placeholder="Mensaje"></textarea>
                        <% if (errors) {%>
                            <% errors.forEach(error => { %>
                                <% if (error.path == 'message') { %>
                                    <p style="color: #FE2D48; padding: 0; margin: 0; text-align: center;"><%= error.msg %></p>
                                <% } %>
                            <% }); %>
                        <% } %>

                        <button type="submit">Enviar</button>
                    </form>
                    <script>
                    document.getElementById('form').addEventListener('submit', function() {
                        gtag('event', 'submit', {
                            'event_category': 'Formulario',
                            'event_label': 'Contacto'
                        });
                    });
                    </script>
                </div>

            </div>

        </section>
    </main>

<%- include('template/footer.ejs') %>